.main{
    width: 20vw;
    text-align: center;
   
}

.imagediv img{
    width: 100%;
}
.api{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.popup{
    width: 30vw;
    background-color: black;
    color: white;
    padding: 20px;
}

.nav{
   display: flex;
   justify-content: space-evenly;
   font-size: larger;
   margin-bottom: 30px;
}

.nav button{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.header{
    text-align: center;
    background-color: aqua;
    padding: 20px;
}